* {
  box-sizing: border-box;
}

.wrapper {
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  font-size: 20px;
  padding: 2em;
  background-color: #081b4b;
  border-radius: 10px;
  width: 100%;
  max-width: 765px;
}

.container > span {
  padding: 0.5em;
}

.title {
  color: #081b4b;
  font-size: 24px;
  padding-bottom: 50px;
  font-family: "Junge", serif;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 576px) {
  .wrapper {
    justify-content: center;
    align-items: center;
  }
  .container {
    flex-direction: row;
  }
}

@media (min-width: 767px) {
  .container {
    font-size: 24px;
  }

  .title {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 48px;
  }
}
